body {
    background-color: #FFF;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    color: #434455;
    
}

ul {
    list-style-type: none;
}
h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    max-width: 1158px;
}
img {
    display: block;
    max-width: 100%;
}




/* header */
.section-header {
    border-bottom: 1px solid #e7e9fc;
    
}
 header .container {
    display: flex;
    justify-content: space-between;
 }

.logo {
    color:#4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 76px;
    
}
.logo:hover,
.logo:focus {
    color:#404bbf;
}

.logo-part {
    color: #2E2F42;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.nav {
    color: #2E2F42;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
   
    
}
.nav-list-link {
    padding: 24px 0;
}

.navigation-link {
    text-decoration: none;
    color:#2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
}
.navigation-link:hover,
.navigation-link:focus {
    color: #404bbf;
}

.address-text {
    font-style: normal;
    display: flex;
    align-items: center;
    
}
.contacts-list {
    display: flex;
    gap: 40px;
    
}
.contacts {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;

}
.contacts:hover,
.contacts:focus {
    color:#404bbf;
}


.nav-list {
    display: flex;
    gap: 40px; 
}



/* hero section */

.hero-section {
    background-color:#2E2F42;
    padding: 188px 0;
}

.hero-section-title {
    color:#FFF;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 496px;
    margin: 0 auto;
}
.hero-section-button {
    background-color: #4D5AE5;
    cursor: pointer;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-family: "Roboto", sans-serif;
    display: block;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    border: none;
    margin: 0 auto;
    min-width: 169px;
    margin-top: 48px;
}
.hero-section-button:hover,
.hero-section-button:focus {
    background-color: #404BBF;
}
/* our strategy */
 .visually-hidden {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;
     white-space: nowrap;
     clip-path: inset(100%);
     clip: rect(0 0 0 0);
     overflow: hidden;
 }
.section-strategy {
    padding: 120px 0;
}
.our-strategy-list {
    display: block;
    width: calc((1128px - 72px) / 4);
}
.strategy-list {
  
    display: flex;
    gap: 24px;
    width: 100%;
}
.our-strategy-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.our-strategy-text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
   
}

/* our team */

.our-team-container-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    
    
}
.team-container {
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    background: var(--WHITE, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-name {
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    
    
}
.our-team {
    background-color:#F4F4FD;
    padding: 120px 0;
}


.our-team-title {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    text-align: center;
   
}
.our-team-names {
    color:#2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
    
   
}
.our-work-team {
    color:#434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    
  
}
/* our portfolio */
.section-portfolio {
    padding: 120px 0 120px 0;
}
.our-portfolio-container-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

 .our-products-item-text { 
    display: flex;
    padding: 0px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
    padding-top: 32px;
    padding-bottom: 32px;
    border: 1px solid var(--CORNFLOWER, #E7E9FC);
    background: var(--WHITE, #FFF);
    border-top: none;
}
.our-products-item {
    width: calc((100% - 48px) / 3);
    justify-content: center;
}

.our-portfolio {
    color:#2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}
.our-products {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.our-products-text {
    color:#434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* footer */
.footer {
    background-color: #2E2F42;
    padding: 100px 0;
    
}
.footer-text {
    color:#F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
    display: block;
}
.logo-part-footer {
    font-family: "Raleway", sans-serif;
    color: #F4F4FD;
}
.logo-footer {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 16px;
}